/* Variables */
:root {
    --color-1: #CCF381;
    --color-2: #4831D4;
}

/* Universal Settings */
* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

/* Content Settings */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header Section*/
header {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-2);
}

header h1 {
    margin: 35px 0 5px 30px;
    color: var(--color-1);
    font-size: 55px;
    text-shadow: -4px -2px 5px rgba(0, 0, 0, 0.8);
}

.nav-tabs {
    margin: 15px 20px;
}

.nav-tabs ul {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.nav-tabs ul li {
    margin: 0 30px;
}

.nav-tabs ul li a {
    padding: 5px 8px;
    font-weight: bold;
    font-size: 28px;
    color: var(--color-1);
    list-style: none;
    text-decoration: none;
    text-shadow: -4px -2px 5px rgba(0, 0, 0, 0.8);
}

.nav-tabs ul li a:hover {
    padding: 5px 8px;
    border-radius: 10px;
    background-color: var(--color-1);
    color: var(--color-2);
    text-shadow: none;
}
/* End Header Section */

