/* Variables */
:root {
    --subtitle: #2daf2d;
    --bg-color: rgb(12, 12, 85);
    --title: #a06017;
    --border-color: black;
    --title-border: 0 0 30px 20px var(--bg-color) inset;
}

/* Universal Settings */
* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

/* Content Settings */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.separator {
    border-bottom: 15px solid var(--border-color);
}

/* Header Section*/
header {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/starry-sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    z-index: 9999;
    box-shadow: var(--title-border);
}

.pic-cont {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
}

.pic {
    margin-left: 10px;
    margin-top: 10px;
    width: 14%;
    border-radius: 50%;
    box-shadow: 0 0 15px 7px var(--title);
    opacity: 80%;
}

.my-name {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
}

.name-link {
    text-decoration: none;
    color: var(--title);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
}

.nav ul li {
    margin: 0 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    color: var(--title);
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: var(--title);
}

.nav ul li a:hover {
    color: var(--subtitle);
}
/* End Header Section */

/* Hero Section */
.hero {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: var(--bg-color);
}

.hero-cont {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
}

.subtitle, .skills {
    font-family: cursive;
    color: var(--subtitle);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    font-size: 25px;
    /*font-variant: small-caps;
    font-weight: bold;
    font-style: italic;*/
}
/* End Hero Section */

/* About Me */
.am-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.am-title {
    width: 20%;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    color: var(--title);
    background-image: url("../images/starry-sky.jpg");
    box-shadow: var(--title-border)
}

.my-intro {
    width: 80%;
    padding: 50px;
    font-size: 22px;
    color: var(--subtitle);
    box-shadow: 0 0 10px 10px var(--bg-color) inset;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    background-color: var(--bg-color);

}

.my-intro p {
    margin: 12px 0;
    text-indent: 50px;
}
/* Projects */

/* Contact Info (footer) */


/* Media Query Section */
@media screen and (max-width: 980px) {
    header {
        padding: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .pic-cont {
        justify-content: center;
    }

    .pic {
        width: 15%;
    }

    .my-name {
        width: 100%;
        font-size: 38px;
        justify-content: center;
    }

    .name-link {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--title);
    }

    .nav {
        width: 100%;
        justify-content: space-between;
    }

    .nav ul {
        width: 100%;
        margin-top: 15px;
    }

    .nav ul li {
        font-size: 20px;
        font-weight: bolder;
    }

    .hero {
        justify-content: center;
    }

    .hero-cont {
        justify-content: center;
    }

    .subtitle, .skills {
        padding: 5px;
        font-size: 18px;
    }

    .subtitle {
        border-bottom: 2px solid var(--subtitle);
    }

    .am-cont {
        flex-direction: column;
    }

    .am-title {
        width: 100%;
        padding: 20px 40px;
        font-size: 35px;
    }
    
    .my-intro {
        width: 100%;
        padding: 25px;
        font-size: 18px;
    }

    
}

@media screen and (max-width: 768px) {
    .pic-cont {
        flex: 0 0 60%;
    }

    .pic {
        width: 20%;
    }

    .my-name {
        width: 100%;
        font-size: 30px;
        justify-content: center;
    }

    .name-link {
        padding-bottom: 10px;
        border-bottom: 4px solid var(--title);
    }

    .nav ul {
        margin-top: 5px;
    }

    .nav ul li {
        margin: 0;
        font-size: 18px;
    }

    .subtitle, .skills {
        font-size: 13px;
    }

    .am-title {
        font-size: 27px;
    }
    
    .my-intro {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    header {
        position: relative;
    }
    
    .pic-cont {
        flex: 0 0 70%;
    }

    .pic {
        width: 25%;
    }

    .my-name {
        padding: 5px;
    }

    .name-link {
        text-align: center;
    }

    .nav {
        margin-top: 5px;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        padding: 10px;
        text-align: center;
    }

    .subtitle, .skills {
        /*padding: 0;*/
        font-size: 10px;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .am-title {
        font-size: 22px;
    }
    
    .my-intro {
        font-size: 14px;
    }
}