/* Variables */
:root {
    --subtitle: #2daf2d;
    --bg-color: #347ba5;
    --title: #a06017;
}

/* Universal Settings */
* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

/* Content Settings */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header Section*/
header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    z-index: 9999;
}

.my-name {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
}

.name-link {
    text-decoration: none;
    color: var(--title);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
}

.nav ul li {
    margin: 0 15px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    color: var(--title);
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: var(--title);
}

.nav ul li a:hover {
    color: var(--subtitle);
}
/* End Header Section */

/* Hero Section */

/* End Hero Section */

/* About Me */

/* Projects */

/* Contact Info (footer) */


/* Media Query Section */
@media screen and (max-width: 980px) {
    header {
        padding: 5px;
        justify-content: center;
    }
    
    .my-name {
        width: 100%;
        font-size: 35px;
        justify-content: center;
    }

    .name-link {
        padding-bottom: 10px;
        border-bottom: 2px solid var(--title);
    }

    .nav {
        width: 100%;
        justify-content: space-between;
    }

    .nav ul {
        width: 100%;
        margin-top: 15px;
    }

    .nav ul li {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .my-name {
        width: 100%;
        font-size: 30px;
        justify-content: center;
    }

    .name-link {
        padding-bottom: 10px;
        border-bottom: 4px solid var(--title);
    }

    .nav ul li {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .my-name {
        padding: 5px;
    }

    .name-link {
        text-align: center;
    }

    .nav {
        margin-top: 5px;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        padding: 10px;
        text-align: center;
    }
}